@model IEnumerable<Addmition__Elgibilty_K_A.Model.statues_of_student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_Acshiving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checked_recipet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checked_document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_Acshiving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checked_recipet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checked_document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accept)
            </td>
            <td>
                @Html.ActionLink("Reviwe", "Edit_Status_of_stu", new {  id=item.id }) 
            </td>
        </tr>
}
    </tbody>
</table>
