@model IEnumerable<Addmition__Elgibilty_K_A.Model.statues_of_admission_elgibilty>

@{
    ViewData["Title"] = "Index_setting_of_admition_elgibilty";
}

<h1>Index_setting_of_admition_elgibilty</h1>

<p>
    <a asp-action="Create_setting_of_admition_elgibilty">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type_Of_admission_elgibilty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.begaining_date_of_the_process)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semesterNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semesterDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_Of_admission_elgibilty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.begaining_date_of_the_process)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semesterNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semesterDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_setting_of_admition_elgibilty", new { id=item.id}) |
                @Html.ActionLink("Delete", "Delete_setting_of_admition_elgibilty", new {  id=item.id})
            </td>
        </tr>
}
    </tbody>
</table>
